<div style="display: flex; justify-content: space-between;">
    <div style="display: inline;">
        <nav style="display: inline;">
            <a routerLink="/configurator" routerLinkActive="active">Configurator</a>
        </nav>
        <span> | </span>
        <nav style="display: inline;">
            <a routerLink="/tester" routerLinkActive="active">Tester</a>
        </nav>
    </div>
    
    <div style="display: inline; align-self: center;">
        <h1 style="display: inline">Pool Rez Configurator</h1>
    </div>

    <div>
</div>